{{img-wrap src=model.imageUrl alt="Landscape"}}

<div class='juego-overlay'>
  <div class='juego-title'>
    {{model.title}}
  </div>

  {{#if processing}}
    <a class='btn btn-success' disabled><i class="glyphicon glyphicon-refresh spin"></i> Instalando</a>
  {{else}}
    {{#if installed}}
      <a class='btn btn-success' disabled>✓ instalado</a>
    {{else}}
      <a class='btn btn-success' {{action "download"}}>Instalar</a>
    {{/if}}

  {{/if}}

</div>
