<h1>Configuración</h1>

<p>Desde aquí se pueden cambiar las preferencias
  generales de la aplicación.</p>

<form>

  <div>


    <div>
      ROMS PATH: {{#input value=roms_path}}{{/input}}
    </div>

    <div>
      SCREENSHOTS PATH: {{#input value=screenshots_path}}{{/input}}
    </div>

    <br/>
    <br/>

    {{#if canSave}}
      <button class='btn btn-success' {{action 'save'}}>Guardar</button>
    {{else}}
      <button disabled class='btn btn-success'>Guardar</button>
    {{/if}}


    {{#if borrando}}
      <button disabled class='btn btn-danger'><i class="glyphicon glyphicon-refresh spin"></i> Limpiando ...</button>
    {{else}}
      <button {{action 'clear'}} class='btn btn-danger'>Limpiar Base de datos</button>
    {{/if}}

  </div>

</form>





{{outlet}}
